# TeX files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy

# Vim session files #
.*.sw[a-z]
*.un~
Session.vim

# Eclipse editor files
*.bak
*.tex~
.project

# Temporary figure files
*.pdf
*.eps
*.dia~
